.section-title {
    font-family: Kaushan Script;
    font-size: 24px;
    text-align: center;
    margin: 0;
    margin-bottom: 64px;
    &::after {
        content: "";
        display: block;
        width: 60px;
        height: 2px;
        background-color: #f38181;
        margin: 0 auto;
        margin-top: 34px;
    }
}
